.header {
    background: dodgerblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;

}

.header__logo {
    font-size: 22px;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 20px;
    font-weight: 700;
    font-family: "Corpid E1s SCd Heavy", sans-serif;
}